Source: akavefs
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: Vitaliy Filippov <vitalif@yourcmc.ru>
Section: golang
Testsuite: autopkgtest-pkg-go
Priority: optional
Build-Depends: debhelper-compat (= 11),
               dh-golang,
               golang-any
Standards-Version: 4.5.0
Vcs-Browser: https://github.com/akave-ai/akavefs
Vcs-Git: https://github.com/akave-ai/akavefs.git
Homepage: https://github.com/akave-ai/akavefs
Rules-Requires-Root: no
XS-Go-Import-Path: github.com/yandex-cloud/geesefs

Package: akavefs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Built-Using: ${misc:Built-Using}
Description: High-performance FUSE S3 file system
 AkaveFS allows you to mount an S3 bucket as a file system.
 FUSE file systems based on S3 typically have performance problems, especially with small files and metadata operations.
 AkaveFS uses aggressive parallelism and asynchrony to address these problems.
